*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin: 10% 8%;
  height: 500px;
  width: 1400px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sideA {
  text-align: left;
  flex: 1;
  color: white;
  background-color: rgb(22, 13, 22);
  padding: 40px;
  height: 400px;
  margin-left: 50px;
  /* width: 1100px; */
}

.color-sec {
  color: rgb(179, 33, 179);
}

h1{
  font-size: 50px;
}

h3{
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
}

footer {
  display: flex;
  margin-top: 20px;
}

.footA {
  text-align: left;
  flex: 1;
  line-height: 10px;
  margin-top: 40px;
}

.sideB {
  text-align: center;
  flex: 1;
  background: url(./pic.webp);
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-right: 50px;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(94, 1, 112);;
  opacity: .4;
}
